body {
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
header {
    background-color: white;
    width: 100%;
    text-align: center;
}
img {
    max-width: 100%;
}
.padre {
    content: "";
    background-color: white;
    display: flex;
    width: 60vw;
    border: 1px solid grey;
    margin-top: 50px;
    flex-direction: column;
}
.div1 {
    display: flex;
    justify-content: space-between;
    margin: 0px 6px 0px 6px
}
.div1t {
    content: "";
}
.div1n {
    content: "";
}
.div2foto {
    content: "";
    width: 100%;
    overflow: hidden;
}
.div3des {
    content: "";
    margin: 0px 10px 0px 10px;
}
